<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="testng.listners.CustomListener"/>
    </listeners>
    <test verbose="2" preserve-order="true"
          name="/Users/thameeramalinga/DeveloperStackQA/2025/B2/Day02/BasicAutomationScript/src/test/java/testng/listners/TestNGListenerEx.java">
        <classes>
            <class name="testng.listners.TestNGListenerEx"/>
        </classes>
    </test>
</suite>